:root {
	--bg-color: rgba(0, 0, 0, 1);
	--content-color: rgba(255, 255, 255, 0.75);
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: var(--bg-color);
	color: var(--content-color);
}

a {
	color: var(--content-color);
}

hr {
	opacity: 1;
	color: var(--content-color);
	height: 1px;
	background-image: linear-gradient(to right, var(--content-color) 70%, rgba(255, 255, 255, 0) 0%);
	background-position: bottom;
	background-size: 9px 1px;
	background-repeat: repeat-x;
	border: none;
}

.normal-text {
	font-size: 0.9rem;
	line-height: 1.2;
}

.static-sidebar {
	margin-right: calc(1.5rem * 0.5);
}

ul.static-sidebar-menu {
	list-style-type: none;
	padding-left: 0;
}